@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(#201258, #121212);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* FILM TYPES */
.menu {
  display: flex;
  gap: 0 10px;
  position: relative;
  z-index: 2;
  min-width: 400px;
  /* width: 250px;  primary tutorial value*/
  /* overflow: hidden; */
}

.menu > a {
  flex-shrink: 0;
  flex-grow: 1;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #af182c;
  transition: 300ms all;
  font-size: 20px;
}

.menu > a:hover {
  box-shadow: 0 0 20px #af182c;
}
/* menu > a:hover {
  transform: scale(1.2);
} */

.menu .dropdown {
  flex-shrink: 0;
  flex-grow: 1;
  width: 120px;
  position: relative;
}

.menu .dropdown button {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  color: white;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #af182c;
  cursor: pointer;
  transition: 300ms all;
}

.menu .dropdown button:hover {
  box-shadow: 0 0 30px #af182c;
}

.menu .dropdown nav {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: #4622d6;
  border: 2px solid #333;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 300ms all;
}

.menu .dropdown nav a {
  display: flex;
  height: 34px;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.menu .dropdown:focus-within nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

/* SONG BOXES */
h1 {
  font-family: 'Sedan SC', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #af2274;
}

.boxes {
  display: flex;
  min-width: 400px;
}

.boxes .box {
  width: 200px;
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  border: 0.4rem solid transparent;
  box-shadow: 0 0 20px #4d31be;
  transition: 0.07s;
}

.boxes .box:hover {
  box-shadow: 0 0 20px #4b9bc9;
  transform: scale(1.05);
}

/* ALBUM BACKGROUND */
h1 + .boxes .box:nth-child(1) {
  background: center/80% url('./images/music1.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(2) {
  background: center/80% url('./images/music2.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(3) {
  background: center/80% url('./images/music3.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(4) {
  background: center/80% url('./images/music4.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(5) {
  background: center/80% url('./images/music5.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(6) {
  background: center/80% url('./images/music6.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(7) {
  background: center/80% url('./images/music7.jpeg') no-repeat;
  cursor: pointer;
}
h1 + .boxes .box:nth-child(8) {
  background: center/80% url('./images/music8.jpeg') no-repeat;
  cursor: pointer;
}
.boxes:last-of-type .box:nth-child(1) {
  background: center/80% url('./images/music9.jpeg') no-repeat;
  cursor: pointer;
}
.boxes:last-of-type .box:nth-child(2) {
  background: center/80% url('./images/music10.jpeg') no-repeat;
  cursor: pointer;
}

.boxes .box::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.boxes .box span {
  color: white;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 2em;
}
